<!DOCTYPE html>
<head>
<meta charset="utf-8">
<style type="text/css">

body {
   cursor:url(https://rawcdn.githack.com/Seriainme/blobemoji/d799bc685df5b8b4b23ce2d2ff3d37f952efb3fa/miku2.cur),
    default;
 }
a {
   cursor:url(https://rawcdn.githack.com/Seriainme/blobemoji/13b4766d9e55807165742168bc8b051e152208ee/miku_link.cur),
   auto!important;
}


</style>
</head>
<html lang='<%- page.lang %>'>
<%- partial('_partial/head') %>
<body>

  <%- partial('_partial/cover/index') %>
  <div class='l_body' id='start'>
    <aside class='l_left' layout='<%- page.layout %>'>
    <%- partial('_partial/sidebar/index') %>
    </aside>
    <div class='l_main<%- page.content ? "" : " list" %>'>
      <%- partial('_partial/main/header/index') %>
      <%- body %>
      <%- partial('_partial/main/footer') %>
      <%- partial('_partial/menubtn') %>
    </div>
  </div>
  <div class='scripts'>
    <%- partial('_partial/scripts/index') %>
  </div>

<script type="module">
  import { bubbleCursor } from "https://unpkg.com/cursor-effects@latest/dist/esm.js";

  new bubbleCursor();
</script>


<canvas id="canvas"></canvas>
<script type="text/javaScript" src="https://rawcdn.githack.com/Seriainme/blobemoji/c897a15a460d08d5ab4105da4f3661a2b2e112cc/click_firework_boom.js"></script>

</body>
</html>
